h1{
  text-align: center;
}
.carrusel {
  width: 540px;
  margin: 40px auto;
  overflow: auto;
}
.content-carrusel{
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 3px
  border:#666 solid 1px;
}
.img-carrusel {
  display: none;
  width: 500px;
  height: 300px;
}
.active{
  display: inline-block;
}
.before , .after{
  float: left;
  margin-top: 130px;
  cursor: pointer;
  font-size: 70px;
}
#slider img:last-child{
  background: yellow;
}
.after:hover , .before:hover{
 color:#333;
}
.before{
  position: relative;
  margin-right: -45px;
  z-index: 100;
}
.after{
  position: relative;
  margin-left: -45px;
  z-index: 100;
}
